rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 🔐 REGRA GERAL:
    // Qualquer utilizador que esteja autenticado
    // pode ler e escrever dados no app
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

  }
}